@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&display=swap");
*
{
    font-family: "Raleway", "Sans serif"; 
}

body{
    
   max-width: 1440px;
    font-weight: bold;
}
header{
    height: 100px;
    margin-left: 50px;
    margin-right: 50px;
    max-width: 1440px;
}
main{
    margin-left: 50px;
    margin-right: 50px;
}

.menu{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;  
}
 #hebergements:hover, #activités:hover
{
    color: #0065FC;
    border-top: 1px solid #0065FC;
    transition-duration: 0.1s; 
}
#hebergements, #activités, #inscription
{
    padding: 40px;
    text-decoration: none;
    
}
#hebergements, #activités
{
    color: black;
}
#inscription
{
    color: #0065FC;
}
nav
{
    position: relative;
    top: -50px;
}
.logo
{
    position: relative;
    top: 40px;
}
.portable
{
    display: flex;
}
form
{
    font-size: 20px;
}
.recherche
{
    border-radius: 0px 12px 12px 0px;
    border: 1px solid #0000ff00;
}
.button
{
    display: inline-flex;
    border: 1px solid #0000ff00;
    border-radius: 0px 12px 12px 0px;
    text-decoration-line: none;
    color: white;
    background-color: #0065fc;
    font-size: 20px;
    align-items: center;
}
.fas.fa-map-marker-alt
{
    font-size: 20px;
    position: relative;
    bottom: 5px;
    
}
.barreDeRecherche
{
    font-size: 20px;
    font-family: "Raleway", "Sans serif";
    font-weight: bold;
    text-align: center; 
    border: 0.1px solid #F2F2F2;
}
i.fas.fa-search
{
    display: none;
}

form{
    display: flex;
}
span.icons
{
    border: 1px solid #F2F2F2F2;
    border-radius: 10px 0px 0px 10px;
    background-color: #F2F2F2F2;
    font-size: 35px;
    border-width: 5px;
    width: 50px;
    text-align: center;
}
#sousMenu
{
      display: flex;
}
.mobileFilter
{
    display: flex;
    flex-wrap: wrap;
}
.sousMenuIcones
{ 
    font-weight: bold; 
    margin-right: 20px;
}

.titreFiltres
{
    margin-right: 20px;
}

.filter
{
    display: flex;
    align-items: center;
    border: 1px solid #F2F2F2;
    border-radius: 32px;
    margin-left: 30px;
}
.filter:hover
{
    -webkit-transform: scale(1.25); 
    -moz-transform: scale(1.25); 
}
.filter.economique
{
    max-width: 195px;
}
.filter.Familial
{
    max-width: 150px;
}
.filter.romantique
{
    max-width: 185px;
}
.filter.animaux
{
    max-width: 245px;
}
.fas.fa-child.icones
{
    height: 30px;
    font-size: 37px;
    
}
.icones{
    color: #0065FC;
    font-size: 30px;
    margin-right: 20px;
    border-radius: 100%;
    border: 1px solid #DEEBFF;
    background-color: #DEEBFF;
    border-width: 15px;
}
.information
{
    border-radius: 50%;
    border: 2px solid #F2F2F2;
    margin-right: 5px;
    color: #0065FC;
    padding: 5px;
    width: 15px;
    text-align: center;
}
.resultatIcones
{
    display: flex;
    margin-top: 30px;
    margin-bottom: 30px;
    align-items: center;

}
img.part2HostingCard
{
    width: 230px;
    height: 110px;
    object-fit: cover;
    border-radius: 25px 25px 0% 0%;
}

.part2HostingFirst{
    
    border-radius: 25px 25px 25px 25px;
    border: 1px solid #F2F2F2;
    background-color: #F2F2F2;
    
}
.part2HostingTitle
{
    position: relative;
    left: 20px;
}
.part2Hosting{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 20px;
    
}
.part2HostingCard
{
    display: flex;
    justify-content: center;

}
.part3HostingCard
{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.part2Hosting1
{
    padding: 5px;
    border-radius: 25px 25px 25px 25px;
    border: 0.5px solid white;
    background-color: white;
    margin: 15px;
    max-width: 230px;
    height: 210px;
    
}
.part2Hosting2
{
    padding: 5px;
    border-radius: 25px 25px 25px 25px;
    border: 0.5px solid white;
    background-color: white;
    margin: 15px;
    max-width: 230px;
}
.plus
{
   
    color: black;
    font-size: 20px;
    text-decoration: none;
    margin-left: 20px;
}
.firstBlock
{
    display: flex;
    justify-content: space-around;
}
.part1{
    border-radius: 25px 25px 25px 25px;
    border: solid 1px #F2F2F2;
    background-color: #F2F2F2;
    font-size: 85%;
    
}
img.populairesImg
{
    width: 125px;
    height: 130px;
    border-radius: 25px 0% 0% 25px;
    margin: 5px;
    object-fit: cover;
}
.populairesTitle
{
    display: flex;
}
.popularIcon
{
    font-size: 20px;
}
.titlePopularIcon
{
    display: flex;
    align-items: baseline;
    justify-content: space-around;
}
aside
{
    border: 1px solid #F2F2F2F2;
    border-radius: 25px 25px 25px 25px;
    background-color: #F2F2F2F2;
}
.part2Populaires
{
    display: flex;
    flex-direction: column;
    align-items: center;
}   

#populaires.part2
{
    
    font-size: 85%;
   
}
.populairesCardFigureCaption
{
    display:flex;
    flex-direction: row;
    border-radius: 25px 25px 25px 25px;
    border: 1px solid white;
    background-color: white;
    margin: 15px;  
    max-width: 310px;
}

.hostingMainCardGradeIcon[data-active=true], .populairesCardGradeIcon[data-active=true]
{
    color:#0065FC
}

 
.hostingMainCardGradeIcon[data-active=false], .populairesCardGradeIcon[data-active=false]
{
    color: #F2F2F2F2;
}

.populairesCard1
{
    display: flex;
    flex-direction: column;
}
.activitésImg1
{
    object-fit: cover;
    width: 295px;
    height: 388px;
    border-radius: 25px 25px 0% 0%;
}
.activitésImg2
{
    object-fit: cover;
    width: 295px;
    height: 180px;
    border-radius: 25px 25px 0% 0%;
}
.activitésImg3
{
    object-fit: cover;
    width: 295px;
    height: 110px;
    border-radius: 25px 25px 0% 0%;
}
.activitésImg4
{
    object-fit: cover;
    width: 295px;
    height: 136px;
    border-radius: 25px 25px 0% 0%;
}
.activitésImg5
{
    object-fit: cover;
    width: 295px;
    height: 150px;
    border-radius: 25px 25px 0% 0%;
}
#activity
{ 
    max-width: 1330px;
}
.activitésPart{
    display: flex;
    flex-direction: row;
}

.activitésTitle
{
  position: relative;
  left: 10px;
}
.activitésPart1
{
    display: flex;
    flex-direction: row;   
}
.activitésPart2
{
    display: flex;
    flex-direction: row;
}
.activitésCardFigureCaption
{
    margin: 10px;
    border-radius: 25px 25px 25px 25px;
    box-shadow: 0px 1px 1px #F2F2F2;
    border: 3px solid white;
}
.firstColumn
{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.secondColumn
{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.Card :hover
{
    -webkit-transform: scale(1.25); 
    -moz-transform: scale(1.25); 
}

.column1
{
    display: flex;
    flex-direction: column;
}
.column2
{
    display: flex;
    flex-direction: column;
}
.column3
{
    display: flex;
    flex-direction: column;
}
.Lien{
color: black;
text-decoration: none;
margin-top: 10px;
}
.ileDeFrioul
{
    padding: 10px;
}
.parcLongchamp
{
    padding: 10px;
}
footer
{
    font-weight: 600;
    
}
.piedDePage
{
    width: 100%;
    background-color: #F2F2F2;
    display: flex;
    justify-content: space-around;
    max-width: 1440px;
}